{% load static %}
<!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{% static 'dashboard/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/%40shopify/draggable/lib/es5/draggable.bundle.legacy.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/autosize/dist/autosize.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/highlightjs/highlight.pack.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/list.js/dist/list.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/chart.js/Chart.extension.js' %}"></script>

    <!-- Map -->
    <script src="{% static 'dashboard/mapbox-gl-js/v0.53.0/mapbox-gl.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'dashboard/assets/js/theme.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/dashkit.min.js' %}"></script>