{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

  <!-- Heading -->
  <h1 class="display-4 text-center mb-3">
    {% trans "Password Reset Done" %}
  </h1>

    <!-- Link -->
    <div class="text-center">
      <small class="text-muted text-center">
        {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}<br>
        Back to <a href="{% url 'account_login' %}">Login</a>
      </small>
    </div>

</div>


{% endblock %}